.button {
    width: 150px;
    height: 30px;
    background-color: #c70101;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Museo Sans Cyrl';
}